body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  
}

.hero {
  /* Sizing */
  width: 100vw;
  height: 50vh;

  /* Flexbox stuff */
  display: flex;
  justify-content: center;
  align-items: center;

  /* Text styles */
  text-align: center;
  color: white; /* ADD THIS LINE */

  /* Background styles */
  /* background-image: url(./../../../img/food-table.jpg); Por que no funciona??? */
 
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://res.cloudinary.com/dw4npwftd/image/upload/v1645726410/ella-olsson-4dQiaWKiL-Y-unsplash_hftrb9.jpg");
  background-size: cover;
  background-position:center right;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.hero h1 {
  /* Text styles */
  font-size: 1.5em;

  /* Margins */
  margin-top: 0;
  margin-bottom: 0.5em;
}

.hero .btn {
  /* Positioning and sizing */
  display: block;
  width: 200px;

  /* Padding and margins */
  /* padding: 1em; */
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;

  /* Text styles */
  color: white; /* CHANGE THIS LINE */
  text-decoration: none;
  font-size: 1.5em;

  /* Border styles */
  border: 3px solid white; /* CHANGE THIS LINE */
  border-radius: 20px;
}
p{
  margin:30px;
}

.medium-img{
  width: 70%;
 
}

.col-6{
  text-align: center;
  
  justify-content: center;
  align-items: center;
}

