.container-fluid {
    margin-top: 10%;
    width: 30%;
    padding:20%;
    border: 1px solid #0c0c0c;
    padding: 10px;
    text-align: center;
    background-color: #d2e7df ;
     
    }


button{
    background-color:#43aa72 !important;
    border-color: white !important;
    color:white !important;
}
    
